* {
    box-sizing: border-box;
  }

  .scores-timer-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }

  .timer-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: right;  
    margin-right: 20px;
}

#timer-count {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: right;  
    margin-right: 20px;
}

  body {
    font-family: Verdana;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }

h1 {
    font-size: x-large;
    text-align: center;
}

h2 {
    font-size: medium;
    text-align: center;
}

section {
    align-items: center;
  }

button {
    background: purple;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 0.21px;
    line-height: 10px;
    max-width: 400px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
  }

quiz {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: black;
}
  